.root {
  --color: var(--primary-color);

  border: 2px solid var(--color);

  background: var(--color);
  color: var(--background-color);
  box-shadow: 0px 2px 10px var(--color);

  font-weight: var(--semi-bold-font-weigh);

  padding: 10px 20px;

  transition: background var(--transition), box-shadow var(--transition), color var(--transition), border-color var(--transition);
}

.big {
  font-size: var(--big-font-size);
}

.root:hover:not(:disabled) {
  --color: var(--secondary-color);
  transition: none;
}

.root:disabled {
  box-shadow: none;
}

.root:active, .root:disabled {
  background: none;
  color: var(--color)
}