.root {
  border: 1px solid var(--primary-color);
  border-top: none;
  padding: 10px;

  background: var(--background-color);
}

.root:hover {
  background: var(--secondary-color);
  color: var(--background-color);
}