@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --background-color: #FFFFFF;

  --primary-color: #7000FF;

  --secondary-color: #FF00D6;
  --secondary-lighter-color: rgba(255, 0, 214, 0.4);
  --secondary-lightest-color: rgba(255, 0, 214, 0.15);

  --text-color: #090015;
  --text-lighter-color: rgba(25, 0, 57, 0.4);
  --text-lightest-color: rgba(25, 0, 57, 0.2);


  --small-font-size: 8px;
  --medium-font-size: 12px;
  --big-font-size: 16px;


  --regular-font-weight: 400;
  --semi-bold-font-weigh: 600;

  font-size: var(--medium-font-size);
  font-weight: var(--regular-font-weight);
}

* {
  font-family: 'Inter', sans-serif;
}